<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style2.css" />
  </head>
  <body>
    <div class="container">
      <div class="anak satu">navbar</div>
      <div class="anak dua">header</div>
      <div class="anak tiga">c1</div>
      <div class="anak empat">2</div>
      <div class="anak lima">content3</div>
      <div class="anak enam">content4</div>
      <div class="anak tujuh">content5</div>
      <div class="anak delapan">content6</div>
      <div class="anak sembilan">content7</div>
      <div class="anak sepuluh">content8</div>
      <div class="anak sebelas">content9</div> 
      <div class="anak duabelas">content10</div>

      <div class="tiga">webtoon baru</div>
      <div class="baru satu">d1</div>
      <div class="baru dua">d2</div>
      <div class="baru tiga">d3</div>
      <div class="baru empat">d4</div>
      <div class="baru lima">d5</div>

      <div class="empat">genre</div>
      <div class="one">one</div>
      <div class="two">two</div>
      <div class="three">three</div>
      <div class="four">four</div>
      <div class="five">five</div>
      <div class="six">six</div>
      <div class="seven">seven</div>
      <div class="eight">eight</div>
      <div class="nine">nine</div>
      <div class="ten"></div>

      <div class="trending">trending</div>
      <div class="popular">populer</div>

      <div class="footer">footer</div>
    </div>
  </body>
</html>
